.folders-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;

}
/* 
.folders-list p  {
	padding: 36px 0 36px 36px;
    font-size: 36px;
} */
.folder-closed .noteTitle {
    display: none;
}
.folder-opened .noteTitle {
    display: block;
}
.folder-opened {
  cursor: pointer;
    color: blue;
    padding: 10px 10px ;
}
.folder-closed {
  cursor: pointer;
    color: red;
    padding: 10px 10px ;
}
.button-create-note, .button-create-folder, .button-save, .button-create {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-create-note:hover, .button-create-folder:hover, .button-save:hover, .button-create:hover {background-color: #3e8e41}
  
  .button-create-note:active, .button-create-folder:active, .button-save:active, .button-create:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-delete {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #b12a2a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-delete:hover {background-color: #912222}
  
  .button-delete:active {
    background-color: #912222;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .buttons-list {
display:flex;
flex-direction: row;
justify-content: center;
  }
/* Модальное окно создания заметки */
  .modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  .modal::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 100px auto;
    padding: 30px 70px 15px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
    z-index: 2;
  }
  
  .modal__button {
    position: absolute;
    top: 20px;
    right: 20px;
  
    width: 20px;
    height: 20px;
  
    font-size: 0;
  
    background: none;
    border: 0;
  }
  
  .modal__button::after,
  .modal__button::before {
    content: "";
  
    position: absolute;
    right: 0;
    top: 20px;
  
    width: 26px;
    height: 6px;
    margin: -13px -3px;
  
    background-color: #7656de;
  }
  
  .modal__button::before {
    transform: rotate(45deg);
  }
  
  .modal__button::after {
    transform: rotate(-45deg);
  }
  
  .modal__button:hover::after,
  .modal__button:hover::before,
  .modal__button:focus::after,
  .modal__button:focus::before {
    background-color: #9b7ff7;
  }
  
  .modal__button:active::after,
  .modal__button:active::before {
    background-color: #4023a0;
  }
  /* Модальное окно чтения заметки */
  .noteReader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .noteReader::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .noteReader__content {
    position: relative;
    width: 500px;
    margin: 100px auto;
    padding: 30px 70px 15px;
    background-color: #ffffff;
    box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
    z-index: 2;
  }
  .noteReader__button {
    position: absolute;
    top: 20px;
    right: 20px;
  
    width: 20px;
    height: 20px;
  
    font-size: 0;
  
    background: none;
    border: 0;
  }
  
  .noteReader__button::after,
  .noteReader__button::before {
    content: "";
  
    position: absolute;
    right: 0;
    top: 20px;
  
    width: 26px;
    height: 6px;
    margin: -13px -3px;
  
    background-color: #7656de;
  }
  
  .noteReader__button::before {
    transform: rotate(45deg);
  }
  
  .noteReader__button::after {
    transform: rotate(-45deg);
  }
  
  .noteReader__button:hover::after,
  .noteReader__button:hover::before,
  .noteReader__button:focus::after,
  .noteReader__button:focus::before {
    background-color: #9b7ff7;
  }
  
  .noteReader__button:active::after,
  .noteReader__button:active::before {
    background-color: #4023a0;
  }
  .modal--show {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
  }